.btn-close {
-fx-font-family: "Arial";
-fx-font-size: 14px;
-fx-background-radius:12.0;
-fx-background-color: red;
-fx-text-fill: white;
}

.btn-registration {
-fx-font-family: "Arial";
-fx-font-size: 14px;
-fx-background-radius:12.0;
-fx-background-color: #039dfc;
-fx-text-fill: white;
}

.btn-login {
-fx-font-family: "Arial";
-fx-font-size: 14px;
-fx-background-radius:12.0;
-fx-background-color: #3bb35b;
-fx-text-fill: white;
}

.lbl-input {
-fx-font-family: "Arial";
-fx-font-size: 14px;
}

.lbl-result {
-fx-font-family: "Arial";
-fx-font-size: 12px;
-fx-text-alignment: center;
}

.text-field {
-fx-font-family: "Arial";
-fx-font-size: 13px;
}

.password-field {
-fx-font-family: "Arial";
-fx-font-size: 13px;
}